###############################################################################
###############################################################################

# General settings, adjustable

### Output and log directories
### All output files and logs will be written to these directories
OUTPUTS_DIR: outputs
LOGS_DIR: logs

### List of screen names to process end-to-end
### Expected to exactly match counts filename prefixes
SCREENS: [screen2022, screen2023]

### Filepath pattern for input counts files
### Use {screen} as a placeholder for screen names
### Supports both TSV and ZIP files 
### ZIP should contain a file ending in _counts.tsv, _counts_only.tsv, or _counts_with_metadata.tsv
COUNTS_FILEPATH_PATTERN: manuscript_data/counts/{screen}_raw_counts.zip

###############################################################################
###############################################################################

# Screen settings, defaults provided but can specify settings per screen
# by adding a prefix to the parameter name, e.g. SCREEN2023_PHENOTYPE_PREFIX_MAP, etc.
# See _DOUBLINGS variables below for an example. 

### Counts column prefixes and suffixes
COUNT_PREFIXES: [T0, DMSO, NIRAP]
REPLICATES: [R1, R2]

### Column name prefix for initial condition counts
INITIAL_CONDITION_ID: T0

### Default phenotype prefix map, 
### [<FIRST_PREFIX>, <SECOND_PREFIX>] values must match those in COUNT_PREFIXES
### Can rename Gamma, Tau, Rho if desired
### Phenotypes are calculated as <FIRST_PREFIX> / <SECOND_PREFIX>
PHENOTYPE_PREFIX_MAP:
  Gamma: [DMSO, T0]
  Tau: [NIRAP, T0]
  Rho: [NIRAP, DMSO]

### Phenotypes to use for genetic interaction score calculation
### Must match keys in PHENOTYPE_PREFIX_MAP, but doesn't need to be all of them
GI_PHENOTYPES: [GAMMA, TAU]

## Order in which the no correlation filter is applied and to which phenotypes
### Must match keys in PHENOTYPE_PREFIX_MAP, but doesn't need to be all of them
NO_CORRELATION_FILTER:
  - GAMMA 
  - TAU

### Default differential interaction score comparisons
### [<FIRST_PHENOTYPE>, <SECOND_PHENOTYPE>] values must match those in GI_PHENOTYPES
### Comparisons are calculated as <FIRST_PHENOTYPE> - <SECOND_PHENOTYPE>
DIFFERENTIAL_COMPARISONS:
  NU: [TAU, GAMMA]

HIT_THRESHOLDS:
  GAMMA: 0.995
  TAU: 0.995
  RHO: 0.995
  NU: 1

###############################################################################
###############################################################################

### Count filter thresholds
INDIVIDUAL_SGRNA_MEDIAN_THRESHOLD: 35
COMBINATION_SGRNA_COUNT_THRESHOLD: 50

### Phenotype calculation parameters
PSEUDOCOUNT: 10
NORMALIZE: TRUE # Normalize phenotypes by population doublings
AVERAGE_REPLICATES: TRUE

### Correlation filter parameters
NO_CORRELATION_THRESHOLD: 0.25
CORRELATION_FILTER_MODE: avg_only  

###############################################################################
###############################################################################

# Screen-specific parameters, make sure that variable prefix matches screen 
# names in SCREENS so that these are mapped correctly.

### Population doublings per (treatment,replicate), used if NORMALIZE is TRUE
SCREEN2022_DOUBLINGS:
  DMSO:
    R1: 7.19
    R2: 7.73
  NIRAP:
    R1: 5.32
    R2: 5.36

SCREEN2023_DOUBLINGS:
  DMSO:
    R1: 8.04
    R2: 7.98
  NIRAP:
    R1: 5.40
    R2: 4.98

###############################################################################
###############################################################################

### Clustering parameters
PHENOTYPES_TO_CLUSTER: [GAMMA.OI.Avg, TAU.OI.Avg, NU.OI.Avg]

###############################################################################
###############################################################################
################## DANGER ZONE - MODIFY WITH EXTREME CAUTION ##################
###############################################################################
###############################################################################

# These parameters control internal workings of the pipeline and should not
# be modified. These column names are expected and used throughout the codebase. 
# Changing them may lead to unexpected errors.

EXPECTED_META_COLUMNS:
  - FirstPosition
  - FirstPseudogene
  - SecondPosition
  - SecondPseudogene
  - ConstructID
  - GuideCombinationID
  - PseudogeneCombinationID
  - PseudogeneCombinationName
  - Category
  - Control
  - Identical
  - Orientation